.quiz {
    max-width: 600px;
}

.control-btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: center;
}

.check-btn {
    margin-left: auto;
}

.finish-btn {

}

.control-btns > h4 {
    margin-right: 60px;
}