.startup {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #2b2c31;
}
.startup > h1 {
  margin: 0;
  font-size: 6rem;
  font-weight: 900;
  color: #ccaa2f;
}

.startup > h4 {
  margin: 0;
}

.startup > button {
  margin: 0 auto;
  padding: 16px 60px;
  background: #2b2c31;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: ease-in 0.2s;
}

.startup > button:hover {
  background: #ccaa2f;
  color: #2b2c31;
  transition: ease-in 0.2s;
}
